.containerFilesListRender {
  padding: 20px;
}

.inputWrapperFilesListRender {
  display: flex;
  margin-bottom: 10px;
}

.inputFieldFilesListRender {
  text-align: end;
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
}

.buttonFilesListRender {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007aff;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.fileListFilesListRender {
  margin-top: 20px;
}

.fileListTitleFilesListRender {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
  font-weight: bold;
  text-decoration: underline;
  text-align: right; /* Align the text to the right */
  direction: rtl; /* Set the text direction to right-to-left */
}

.fileListItemsFilesListRender {
  list-style-type: none;
  padding: 0;
}

.fileListItemFilesListRender {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 75%;
  margin: 25px auto 0 auto;
  margin-left: auto;
  border: 2px solid #f2f2f2;
  height: 100px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.fileListLinkFilesListRender {
  font-size: 18px;
  margin: 0;
  text-align: center;
  flex-grow: 2;
  color: gray;
  margin-right: 5px;
}

.fileListTextFilesListRender {
  font-size: 14px;
  color: #555;
  margin: 0;
}