.forgotMyPassword-container {
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .forgotMyPassword-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container .login-image {
    max-width: 400px;
    max-height: 300px;
    border-radius: 100% / 0 0 50% 50%;
  }
  
  .login-title .login-title-text {
    font-size: 44px;
    font-weight: 700;
    font-family: 'Open-Sans', sans-serif;
    color: rgb(0, 0, 118);
    margin: 40px 0 30px 0;
    text-align: center;
  }
  
  .login-input-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .FMPSubmit{
    padding: 15px;
    text-align: center;
    color: white;
    background-color: rgb(0, 194, 0);
    width: 350px;
    border: 0;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Open-Sans', sans-serif;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    margin: 30px 0 5px 0;
}
.FPQ-txt{
    font-size: 28px;
    font-family: 'Open-Sans', sans-serif;
    margin: 10px 0 20px 0;
    text-align: center;
    color: rgb(0, 0, 118);
}
.FPQ-txt-two{
    font-size: 18px;
    font-family: 'Open-Sans', sans-serif;
    margin: 10px 0 20px 0;
    text-align: center;
    color: rgb(0, 0, 118);
}
.email-send{
    font-size: 18px;
    font-family: 'Open-Sans', sans-serif;
    margin: 10px 0 20px 0;
    text-align: center;
    color: rgb(0, 0, 118);
}
  