body{
    font-family: 'Open-Sans', sans-serif;
}
.login-container-div{
    direction: rtl;
    margin-top: 250px;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container .login-image{
    position: absolute;
    top: 0;
    max-width: 420px;
    max-height: 300px;
    border-radius: 100% / 0 0 50% 50%;
}
.login-title .login-title-text {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Open-Sans', sans-serif;
    color: rgb(0, 0, 118);
    margin:40px 0 70px 0;
    text-align: center;
}
.login-input-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forgot-password-div{
    display: flex;
    width: 300px;
}
.forgot-password-div .forgot-password-p{
    font-size: 18px;
    color: blue;
    margin-top: 5px;
    font-family: 'Open-Sans', sans-serif;
    cursor: pointer;
}
.wrong-password-or-email .wrong-password-or-email-p{
    color: red;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Open-Sans', sans-serif;
}
#wrong-password-or-email .wrong-password-or-email-p{
    color: red;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Open-Sans', sans-serif;
}
.login-btn-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-account-div {
    display: flex;
    width: 300px;
    margin-top: 10px;
}
.new-account-div .register-account-p {
    font-size: 18px;
    margin: 0;
    font-family: 'Open-Sans', sans-serif;
}
  
.new-account-div .register-account-p .register-page {
    font-size: 18px;
    color: blue;
}
.swal2-styled.swal2-confirm {
    font-family: 'Open-Sans', sans-serif;
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #00c13a;;
    color: #fff;
    font-size: 1em;
}
.swal2-container{
    font-family: 'Open-Sans', sans-serif;
}