.patient-container-div{
    padding: 70px 0; /* same height as bottom bar */
    text-align: center;
}
.patient-container-div .patient-container-div{
    padding: 0;
}
.sc-irmnWS.ledjpx {
    padding: 0 0 80px 0px;
}
.back-out{
    display: inline-block;
    padding: 16px 45px;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
    width: 400px;
    background: linear-gradient(90deg, #5fa4ff, #8f66ff);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 40px;
    font-family: 'Open-Sans', sans-serif;
}