.register-boxs-div {
  text-align: center;
  direction: rtl;
  margin-top: 30px;
  padding-bottom: 70px; /* same height as bottom bar */
  overflow-y: auto;
}

.register-boxs-div .back-from-register {
  padding-right: 300px;
  height: 25px;
}
.register-input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-boxs-div .register-title-div{
 margin: 15px 0 30px 0;
}
.register-boxs-div .register-input-div .register-title-div .title-first-row {
  padding-left: 250px;
  font-size: 28px;
  color: rgb(0, 0, 118);
  margin: 0px;
  text-align: right;
  font-family: 'Open-Sans', sans-serif;
}
.register-boxs-div .register-input-div .register-title-div .title-second-row {
  font-size: 44px;
  font-weight: 700;
  font-family: 'Open-Sans', sans-serif;
  color: rgb(0, 0, 118);
  margin: 0;
  text-align: right;
  padding-left: 175px;
}
.register-btn-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.have-account-div {
  display: flex;
  width: 300px;
}
.register-boxs-div .have-account-p {
  font-size: 18px;
  margin: 0;
  font-family: 'Open-Sans', sans-serif;
}

.register-boxs-div .have-account-p .connect-page {
  font-size: 18px;
  color: blue;
}

