.therapistCalendar-div{
    margin: 90px 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.openClose-arrow{
    justify-content: center;
    direction: rtl;
    display:flex; 
}

.openClose-arrow img{
    transform: rotate(270deg);
}