.top-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: white;
  }
  
  .top-bar-div {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 100%;
    box-shadow: 0px 0.5px 0.1px rgba(173, 173, 173, 0.1);
  }
  
  .name-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open-Sans', sans-serif;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: #EFEFEF;
    color: black;
    font-weight: bold;
  }
  .sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #F5F5F7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s ease-in-out;
    z-index: 2;
    transform: translateX(450px); /* slide in from the right side */
}
.sidebar.open {
    transform: translateX(0);
}
.sidebar-header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}

.close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.6s ease-in-out;
    z-index: 3;
}
.close-button img {
  width: 20px;
}
.sidebar-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    right: 0;
}

.sidebar-content a {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #333333;
    transition: color 0.6s ease-in-out;
}

.sidebar-background {
    position: fixed;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* black background with 0.5 opacity */
    z-index: 1;
}
.sidebar-background.open {
    display: block;
}
